# Ignore node_modules directories
node_modules/

# Ignore log files
*.log

# Ignore environment files

venv
# Ignore build output
build/
dist/
out/



# Ignore .DS_Store files on macOS
.DS_Store

# Ignore .vscode directory
.vscode/
